
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Weather</title>

    <style>
        #viewContent {
            padding-left: 20px;
        }

            #viewContent select, #viewContent button {
                font-size: 25px;
            }

            #viewContent h4 {
                margin: 10px 0;
            }

            #viewContent .textAlignCenter {
                text-align: center;
            }

                #viewContent .textAlignCenter img {
                    display: none;
                    width: 100px;
                }

            #viewContent #message table {
                width: 100%;
            }

                #viewContent #message table th {
                    text-align: left;
                    text-decoration: underline;
                }

        #ana {
            justify-content: space-between;
            display: flex;
            text-align: center;
            padding-bottom: 30px;
        }

        .demos {
            border: 2px solid black;
            text-align: center;
            background-color: powderblue;
            border-radius: 10px;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <input type="text" id="city" placeholder="Şehir" />

                <button id="submit" class="btn-outline-primary">Ara</button>
                <br />
                <br />
                <br />
                <div id="message" class="demos">
                    Şehir Adı giriniz...
                </div>
            </div>

            <div class="col-lg-7">
                <div id="ana">
                    <div id="demo1" class="demos col-lg-5"></div>
                    <div id="demo2" class="demos col-lg-5"></div>
                </div>
                <div id="ana">
                    <div id="demo3" class="demos col-lg-5"></div>
                    <div id="demo4" class="demos col-lg-5"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>

    for (let i = 0; i < 4; i++) {

        $(document).ready(function () {
            city = ["London", "Istanbul", "Berlin", "Paris"]
            yer = ["#demo1", "#demo2", "#demo3", "#demo4"]
            $.ajax({

                url: "https://api.openweathermap.org/data/2.5/weather?q=" + city[i] + "&appid=f4c6b92f7b8e31335d6580b0293c23b7&units=metric",

                type: 'GET',

                data: { format: 'json' },

                success: function (data) {
                    var table = $("<table>");

                    table.append("<tr><td>City:</td><td>" + data["name"] + "</td></tr>");
                    table.append("<tr><td>Country:</td><td>" + data["sys"]["country"] + "</td></tr>");
                    table.append("<tr><td>Current Temperature:</td><td>" + data["main"]["temp"] + "°C</td></tr>");
                    table.append("<tr><td>Feels Like:</td><td>" + data["main"]["feels_like"] + "°C</td></tr>");
                    table.append("<tr><td>Humidity:</td><td>" + data["main"]["humidity"] + "</td></tr>");
                    table.append("<tr><td>Wind:</td><td>" + data["wind"]["speed"] + "</td></tr>");
                    table.append("<tr><td>Weather:</td><td>" + "<img src=https://openweathermap.org/img/w/" + data["weather"][0]["icon"] + ".png>" + "</td></tr>");

                    $(yer[i]).html(table);

                },
            });
        });
    }

    $(document).ready(function () {
        $("#submit").click(function (e) {
            var validate = Validate();
            $("#message").html(validate);
            if (validate.length == 0) {
                $.ajax({
                    type: "POST",
                    url: "https://api.openweathermap.org/data/2.5/weather?q=" + $("#city").val() + "&appid=f4c6b92f7b8e31335d6580b0293c23b7&units=metric",
                    dataType: "json",
                    success: function (result, status, xhr) {
                        var table = $("<table>");

                        table.append("<tr><td>City:</td><td>" + result["name"] + "</td></tr>");
                        table.append("<tr><td>Country:</td><td>" + result["sys"]["country"] + "</td></tr>");
                        table.append("<tr><td>Current Temperature:</td><td>" + result["main"]["temp"] + "°C</td></tr>");
                        table.append("<tr><td>Feels Like:</td><td>" + result["main"]["feels_like"] + "°C</td></tr>");
                        table.append("<tr><td>Humidity:</td><td>" + result["main"]["humidity"] + "</td></tr>");
                        table.append("<tr><td>Wind:</td><td>" + result["wind"]["speed"] + "</td></tr>");
                        table.append("<tr><td>Weather:</td><td>" + "<img src=https://openweathermap.org/img/w/" + result["weather"][0]["icon"] + ".png>" + "</td></tr>");

                        $("#message").html(table);

                    },
                    error: function (xhr, status, error) {
                        alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            }
        });
        function Validate() {
            var errorMessage = "";
            if ($("#citySelect").val() == "Select") {
                errorMessage += "Isım boş yazılamaz";
            }
            return errorMessage;
        }
    });
</script>